.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#brand{
	color: white;
}
.center-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon{
  margin:5px;
  width:25px;
  height:25px;
}

#unit-many-many-pictures-of-small-cats {
  width: 408px;
  float: right;
  margin-left: 8px;
  margin-bottom: 8px;
}

#unit-many-many-pictures-of-small-cats img {
  margin-bottom: 8px;
}

#image-1 {
  margin-right: 8px;
}
#image-1, #image-2, #image-3 {
  float: left;
}
#image-4, #image-5, #image-6, #image-7 {
  float: right;
}
#image-4 {
  margin-left: 8px;
}
#image-5 {
  margin-left: 8px;
}
#unit-kitten-content {
  width: 400px;
  padding-right: 8px;
  height: 582px;
  float: left;
  position: relative;
}
#image-0 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.primary-image{
  display: flex;
  justify-content: center;
}
#container {
  width: 824px;
  margin: 40px auto;
}
.large-one{
  color: black;
  margin: 10px 0px;
}
.large-two{
  color: grey;
}
.medium-one{
  color: blue;
}
.medium-two{
  color: blueviolet;
}
.text-box-1{
  border: 1px solid grey;
    border-radius: 11px;
    background: lightgray;
}
.text-box-1:hover{
  border: 1px solid grey;
    border-radius: 11px;
    background: green;
    color: white;
}
.text-box-3{
  border: 2px dotted;
    border-radius: 4px;
    margin: 5px;
}
.text-box-3:hover{
  border: 2px solid;
    border-radius: 7px;
    margin: 5px;
    background: green;
    color: white;
}
/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; left: 10px; z-index:99; }
.hover_img a:hover span { display:block; }

.box_0{
  border: 1px solid grey;
  border-radius: 6px;
  padding: 10px;
  height: 410px;
  overflow: auto;
  margin-top: 5px;
}
.box_1{
  border: 1px solid grey;
  border-radius: 6px;
  padding: 10px;
  margin-top: 5px;
}
.box_2{
  margin: 10px 15px;
  color: black;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}
h1 {
  color: red;
  font-size: 3em;
}

ul li {
  list-style-type: square;
}

#my_list li {
  display: inline-block;
  border-radius: 1em;
  background-color: lightgray;
  padding: 1em;
  margin: 1em;
}

.highlight {
  color: greenyellow;
}